<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>
        <h1>Accountgegevens</h1>
    <form action="/accountinfo" method="POST">
            <label>
                <h2>E-mail</h2>
                <input name="email" type="email" placeholder="user@email.com" value="<%= user.email || '' %>">
            </label>
            <label>
                <h2>username</h2>
                <input name="username" placeholder="username" value="<%= user.username || '' %>" >
            </label>
            <div>
                <label>
                    <h2>Voornaam</h2>
                    <input name="voornaam" placeholder="Voornaam" value="<%= user.voornaam || '' %>">
                </label>
                <label>
                    <h2>Achternaam</h2>
                    <input name="achternaam" placeholder="Achternaam" value="<%= user.achternaam || '' %>">
                </label>
            </div>
            <label>
                <h2>Adres</h2>
                <input name="adres" value="<%= user.adres || '' %>">
            </label>
            <label>
                <h2>Plaats</h2>
                <input name="plaats" value="<%= user.plaats || '' %>">
            </label>
            <label>
                <h2>Leeftijd</h2> 
                <input  name="leeftijd" type="number" value="<%= user.leeftijd || '' %>">
            </label>
            <label>
                <h2>Heb je een rijbewijs?</h2> 
                <div>
                    <input <%= user.rijden === 'yes' ? 'checked' : '' %> class="radio"  id="rijbewijsyes" name="rijbewijs" value="yes" type="radio">
                    <label for="rijbewijsyes">Ja</label>
                    <input <%= user.rijden === 'no' ? 'checked' : '' %> class="radio" id="rijbewijsno" name="rijbewijs" value="no" type="radio">
                    <label for="rijbewijsno">Nee</label>
                </div>
            </label>
            <label>
                <h2>Heb je een eigen auto?</h2>
                <div>
                    <input class="radio" id="autoyes" name="auto" value="yes" type="radio">
                    <label for="autoyes">Ja</label>
                    <input class="radio" id="autono" name="auto" value="no" type="radio">
                    <label for="autono">Nee</label>
                </div>
            </label>
            <button class="happyflow" type="sumbit"><h2>Klaar</h2></button>
        </form>
    </main>

</body>
</html>