<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/buddy-zoeken.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <title>Buddy zoeken</title>
</head>
<body>
    <header>
        <%- include('partials/header')%>
    </header>
    <main>

        <!-- filtergedeelte -->
        <h1>Buddies voor <%= event.artist %></h1>
        <section>
            <input type="search" placeholder="Zoek een buddy..." id="zoekBuddy">
            <button id="filterbutton">Filter</button>
        </section>
        <form id="filtergedeelte"> 
            <h2>Filters</h2>
            <h3>Plaats</h3>
            <input type="search" id="zoekPlaats" placeholder="zoek een plaats">
            <button type="button" id="plaatsButton">Zoek</button>
            <h3>Wil en mag je rijden?</h3>
            <input type="checkbox" id="rijden-ja" name="rijden" value="ja">
            <label for="rijden-ja">Ja</label>
            <input type="checkbox" id="rijden-nee" name="rijden" value="nee">
            <label for="rijden-nee">Nee</label>
            <h3>Retour of enkele reis</h3>
            <input type="checkbox" id="retour" name="reis" value="Retour">
            <label for="retour">Retour</label>
            <input type="checkbox" id="heen" name="reis" value="Heen">
            <label for="heen">Heen</label>
            <input type="checkbox" id="terug" name="reis" value="Terug">
            <label for="terug">Terug</label>
            <!-- <h3>Leeftijd</h3>
            <div class="wrapper">
                <div class="container">
                    <div class="slider-track"></div>
                    <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
                    <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
                </div>
                <div class="values">
                    <span id="range1">
                        0
                    </span>
                    <span> - </span>
                    <span id="range2">
                        100
                    </span>
                </div>
            </div> -->
            <button id="annuleer">Annuleer</button>
            <button>Zoek</button>
        </form>
        <div class="eventcard">
            <img src="<%= event.image %>" alt="<%= event.artist %>">
            <div>
                <h3><%= event.artist %></h3>
                <p><%= event.venue %>, <%= event.city %></p>
                <p><%= event.date %></p>
            </div>
        </div>

        <div id="buddyList">
             <% if (listings.length === 0) { %>
            <p>Geen buddy beschikbaar, wees de eerste!</p>
         <% } else { %>
            <ul class="list">
                <% listings.forEach(listing => { %>
                <li>
                    <a href="/listing/<%= listing._id %>">
                        <img src="../images/pfp.jpg">
                        <div>
                            <h2 class="naam"><%= listing.userId ? listing.userId.voornaam : "Onbekend" %></h2>
                            <p><%= listing.userId ? listing.userId.totaalRating : "0" %> ★</p>
                            <p><%= listing.userId ? listing.userId.leeftijd : "Onbekend" %> jaar oud</p>
                            <p><%= listing.auto %></p>
                        </div>
                        <p class="stad"><%= listing.stad %></p>
                    </a>
                </li>
                <% }) %>
            </ul>
        <% } %>
    </main>
    <footer>
        <%- include('partials/menubalk')%>
    </footer>
    <script src="/scripts/script2.js"></script>
</body>
</html>